body{
	
	background-image:url(food.jpg);
	background-repeat: no-repeat;
}

ul{
margin:0px; padding:0px;
}
ul li a{
text-decoration:none;	
color:white;
display: block;	
}
ul li{
	float:left;
	width:300px;
	height:40px;
	background-color:black;
	font-size:25px;
	font-family: Estrangelo Edessa;
	line-height:40px;
	text-align: center;
	opacity:.7;
	border: 1px solid #285189;
	
}

ul li a:hover{
	
	background-color: red;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	
	display:block;
}
@keyframes slider{
	0%{
		Left: 0;
	}
	20%{
		Left: 0;
	}
	25%{
		Left:-100%;
	}
	45%{
		Left:-100%;
	}
	50%{
		Left:-200%;
	}
	70%{
		Left:-200%;
	}
	75%{
		Left:-300%;
	}
	95%{
		Left:-300%;
	}
	100%{
		Left:-400%;
	}
	
}
#slider{
	overflow:hidden;
	background-color:rgba(0, 51, 102, 0.7);
}
#slider figure img{
	width:8%;
	float:left;
}
#slider figure{
	position:relative;
	width: 600%;
	margin:0;
	Left: 0;
	text-align:left;
	font-size: 0px;
	animation: 15s slider infinite;
}
